body{
    margin: 0;
    padding: 0;
    color: rgb(96, 94, 94);
}
.profile img{
    border-radius: 100px;
    object-fit: cover;

}
.profile{
    border: 1px solid whitesmoke;
    margin-left: 230px;
    margin-right: 230px;
    box-shadow: 1px 2px 2px 2px #ccc;
    margin-top: 100px;
    text-align: center;
    border-radius: 40px;
    margin-bottom: 50px;
}
.infor{
    display: flex;
   padding-left: 349px;
   gap: 50px;
   font-size: larger;
}
.infor h5{
    font-size: larger;
}
.profile button{
    background-color: rgb(213, 37, 37);
    padding: 15px 15px 15px 15px;
    border-radius: 30px;
    align-items: center;
   margin-bottom: 50px;
   margin-top: 20px;
}
.profile button a{
    text-decoration: none;
    color: white;
}
.hcm{
    padding-bottom: 40px;
}
.infor1{
    font-size: larger;
}